POST _scripts/resource_search
{
  "script": {
    "lang": "mustache",
    "source": {
      "query": {
        "bool": {
          "should": [
            {
              "multi_match":{
                "query": "{{ search }}",
                "fields": [
                  "es_title^2",
                  "products^2",
                  "vendors^2",
                  "category^2",
                  "related_products^2",
                  "es_description",
                  "content"
                ]
              }
            },
            {
              "multi_match": {
                "query": "{{ search }}",
                "fields": [
                  "es_title^4",
                  "products^4",
                  "vendors^4",
                  "category^4"
                ],
                "type": "phrase"
              }
            },
            {
              "term": {
                "products.keyword": {
                  "value": "{{ search }}",
                  "boost": 8
                }
              }
            },
            {
              "term": {
                "products.keyword": {
                  "value": "{{ search }}",
                  "boost": 8
                }
              }
            }
          ],
          "minimum_should_match": 1
        }
      },
      "size": "{{ size }}",
      "from": "{{ from }}",
      "sort": [
        {
          "_score": {
            "order": "desc"
          }
        }
      ],
      "_source": [
        "es_title",
        "es_description",
        "es_url",
        "resource_type"
      ]
    }
  }
}